a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/*.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
    background-image: url("../img/images/drago2.png");
    background-repeat: no-repeat;
    position: center;
    position: sticky;
}

/*.card_box{
    width: auto;
    display: inline-block;
    border: none;
    background: rgb(177, 135, 87);
    color: #fff;
    height: auto;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.15);
    margin-left: 25%;

}
.card_image {
    width: auto;
    box-shadow: 0px 15px 9.9px 0.1px rgba(0, 0, 0, 0.50);
    float:left;
    margin-right: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.card_price{
    float: right;
    font-family: arial;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 50px;
}

.card_des {
    width: auto;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #424242;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active*/ /* {
    margin-left: -250px;
    color: #b18757;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background:#b18757;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #b18757;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #b18757;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
.searchbtn {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    height: 30px;
    font-size: 13px;
    background-color:#b18757;
    margin-left: 10px;
}
.input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color:#fff;
    background-color: transparent;
    border-color:#b18757 ;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/*@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

 */

img.zoom {
    width: 100%;
    height: 450px;
    border-radius:5px;
    display:inline-block;
    object-fit:cover;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


