@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.badge-default {
    background-color: #777;
}
.badge-primary {
    background-color: #337ab7;
}
.badge-success {
    background-color: #5cb85c;
}
.badge-info {
    background-color: #5bc0de;
}
.badge-warning {
    background-color: #f0ad4e;
}
.badge-danger {
    background-color: #d9534f;
}


.navbar-icon-top{
    bottom: 85%;
}

#bs-example-navbar-collapse-1{
    background-image: url("../img/images/nav1.jpg");
    background-size: cover;
    width:100%;
}

.navbar-icon-top .navbar-nav>li>a>.fa, .navbar-icon-top .navbar-nav>li>a>.glyphicon {
    position: relative;
    width: 36px;
    font-size: 24px;
    color: black;

}
.navbar-icon-top .navbar-nav>li>a>.fa>.badge, .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    position: absolute;
    right: 0;
    font-family: sans-serif;
}
.navbar-icon-top .navbar-nav>li>a>.fa {
    top: 3px;
    line-height: 12px;

}
.navbar-icon-top .navbar-nav>li>a>.fa>.badge {
    top: -10px;

}
.navbar-icon-top .navbar-nav>li>a>.glyphicon {
    top: 6px;
    line-height: 6px;
}
.navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    top: -16px;
}

@media (min-width: 768px) {
    .navbar-icon-top .navbar-brand {
        padding: 25px 15px;
        font-size: 25px;
        color: black;
    }
    .navbar-icon-top .navbar-text {
        margin-top: 25px;
        margin-bottom: 25px;

    }
    .navbar-icon-top .navbar-btn, .navbar-icon-top .navbar-form {
        margin-top: 18px;
        margin-bottom: 18px;



    }
    .navbar-icon-top .navbar-nav>li>a {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
        color: black;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa, .navbar-icon-top .navbar-nav>li>a>.glyphicon {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;


    }
    .navbar-icon-top .navbar-nav>li>a>.fa>.badge, .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
        top: -7px;

    }
}
/*HOVER NAVBAR*/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}


nav.navbar ul li a {
    position:relative;
    z-index: 1;
}
nav.navbar ul li a:hover {
    color: darkgray;
}
nav.navbar ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: lightcyan;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
nav.navbar ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
/*END HOVER NAVBAR*/

.navbar,.dropdown-menu {
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../img/images/nav1.jpg);
}


/*.dropdown-menu{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../img/images/nav1.jpg);
}*/

body {
    padding-top: 70px;
    width: 100%;
    margin: auto;
    background-image: url(../img/images/body-bg.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
#logo{
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 70px;
    padding-bottom: 30px;
    padding-top: 55px;
    padding-left: 30px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../img/images/logo.png);

}

/*---------------------------------------------------
    SCROLL TO-TOP STYLE
-----------------------------------------------------*/
#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: 2px solid black;
    outline: none;
    background-color: seagreen;
    color: white;
    cursor: pointer;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: #555;
}

